@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
    font-family: "Poppins", sans-serif;
}
body{
    background-color: rgb(199, 204, 209);
}
ul,
ol {
	list-style: none;
    font-size: 20px;
    padding: 16px;
}

li {
    margin-bottom: 24px;
}

h2{
    font-size: 28px;
}

.container{
    max-width: 2048px;
    margin: 0 auto;
}

.main-header{
    background-color: white;
    padding: 20px 12px;
    margin-bottom: 32px;
}

.user-name {
    font-size: 40px;
}

.icon{
    margin-right: 30px;
}

.icon, .user-name{
    vertical-align: middle;
}

.cardA{
    background-color: white;
    max-width: 600px;
    border-radius: 20px 20px 0px 0px;
    padding: 16px;
    margin: 0 auto;
    
}
.cardB{
    background-color: white;
    max-width: 600px;
    border-radius: 0px 0px 20px 20px;
    padding: 16px;
    margin: 5px auto;
}

.blue-button{
    font-size: 15px;
  background: rgb(77, 168, 221);
  color: white;
  padding: 10px 16px;
  padding-left: 14px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.white-button {  
font-size: 15px;
background: rgb(241, 241, 241);
color: rgb(185, 185, 185);
padding: 10px 16px;
padding-left: 14px;
border-color: rgb(192, 191, 191);
border: none;
border-radius: 16px;
cursor: pointer;
}

.tag{
    display: inline-block;
    font-size: 16px;
    padding: 4px;
    border-radius: 20px 20px 20px 20px;
}

.editorial{
    color: white;
    background-color: cornflowerblue;
}

.goals{
    color: white;
    background-color: rgb(164, 100, 237);
}

.recruiting{
    color: white;
    background-color: rgb(100, 237, 191);
}

.mobile{
    color: white;
    background-color: rgb(237, 205, 100);
}

.website{
    color: white;
    background-color: rgb(237, 100, 157);
}

.sales{
    color: white;
    background-color: rgb(143, 237, 100);
}
